In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

import datetime

In [3]:
# Source: http://web.mta.info/developers/turnstile.html

mta_df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180106.txt')
mta_df

def get_data(week_nums):
    # base url
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        # concat our week onto url.. 
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [160903, 160910, 160917]
turnstiles_df = get_data(week_nums)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,03:00:00,REGULAR,6463109,2187558
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,07:00:00,REGULAR,6463119,2187567
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,11:00:00,REGULAR,6463178,2187654
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,15:00:00,REGULAR,6463373,2187736
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,19:00:00,REGULAR,6463712,2187803
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/30/2017,23:00:00,REGULAR,6463887,2187833
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2017,03:00:00,REGULAR,6463926,2187844
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2017,07:00:00,REGULAR,6463938,2187856
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2017,11:00:00,REGULAR,6463980,2187919
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2017,15:00:00,REGULAR,6464138,2187969
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2017,19:00:00,REGULAR,6464337,2188024
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2017,23:00:00,REGULAR,6464443,2188049
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2018,03:00:00,REGULAR,6464475,2188055
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2018,07:00:00,REGULAR,6464491,2188064
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2018,11:00:00,REGULAR,6464517,2188106
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2018,15:00:00,REGULAR,6464623,2188146
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2018,19:00:00,REGULAR,6464806,2188192
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2018,23:00:00,REGULAR,6464907,2188209
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2018,03:00:00,REGULAR,6464919,2188214
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2018,07:00:00,REGULAR,6464934,2188247
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2018,11:00:00,REGULAR,6465085,2188505
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2018,15:00:00,REGULAR,6465297,2188572
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2018,19:00:00,REGULAR,6466098,2188659
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2018,23:00:00,REGULAR,6466375,2188704
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2018,03:00:00,REGULAR,6466403,2188707
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2018,07:00:00,REGULAR,6466420,2188747
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2018,11:00:00,REGULAR,6466581,2189060
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2018,15:00:00,REGULAR,6466816,2189132
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2018,19:00:00,REGULAR,6467618,2189215
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2018,23:00:00,REGULAR,6467957,2189246
...,...,...,...,...,...,...,...,...,...,...,...
200635,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/01/2018,00:00:00,REGULAR,2446008,27423
200636,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/01/2018,04:00:00,REGULAR,2446008,27423
200637,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/01/2018,08:00:00,REGULAR,2446008,27423
200638,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/01/2018,12:00:00,REGULAR,2446008,27423
200639,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/01/2018,16:00:00,REGULAR,2446008,27423
200640,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/01/2018,20:00:00,REGULAR,2446008,27423
200641,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/02/2018,00:00:00,REGULAR,2446008,27423
200642,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/02/2018,04:00:00,REGULAR,2446008,27423
200643,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/02/2018,08:00:00,REGULAR,2446008,27423
200644,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/02/2018,12:00:00,REGULAR,2446198,27424
200645,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/02/2018,16:00:00,REGULAR,2446549,27425
200646,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/02/2018,20:00:00,REGULAR,2446730,27432
200647,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/03/2018,00:00:00,REGULAR,2446786,27434
200648,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/03/2018,04:00:00,REGULAR,2446789,27435
200649,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/03/2018,08:00:00,REGULAR,2446889,27435
200650,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/03/2018,12:00:00,REGULAR,2447230,27435
200651,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/03/2018,16:00:00,REGULAR,2447501,27437
200652,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/03/2018,20:00:00,REGULAR,2447711,27440
200653,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/04/2018,00:00:00,REGULAR,2447795,27443
200654,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/04/2018,04:00:00,REGULAR,2447807,27444
200655,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/04/2018,08:00:00,REGULAR,2447853,27444
200656,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/04/2018,12:00:00,REGULAR,2447967,27449
200657,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/04/2018,16:00:00,REGULAR,2447984,27466
200658,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/04/2018,20:00:00,REGULAR,2448051,27538
200659,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/05/2018,00:00:00,REGULAR,2448078,27545
200660,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/05/2018,04:00:00,REGULAR,2448082,27552
200661,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/05/2018,08:00:00,REGULAR,2448175,27559
200662,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/05/2018,12:00:00,REGULAR,2448484,27568
200663,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/05/2018,16:00:00,REGULAR,2448641,27578
200664,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,01/05/2018,20:00:00,REGULAR,2448770,27578

In [ ]:


# http://web.mta.info/developers/data/nyct/turnstile/turnstile_180106.txt

In [3]:
# These are the MTA datasets from Rishabh, subset to our desired time windows, and with deltas and timestaps.
mta_2016_df = pd.read_csv('../mta_data/year2016.csv')
mta_2016_df.head()

,Unnamed: 0,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,1,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,07:00:00,REGULAR,12,12,2016-02-27 07:00:00
1,2,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,11:00:00,REGULAR,83,105,2016-02-27 11:00:00
2,3,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,15:00:00,REGULAR,249,54,2016-02-27 15:00:00
3,4,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,19:00:00,REGULAR,404,76,2016-02-27 19:00:00
4,5,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,23:00:00,REGULAR,255,41,2016-02-27 23:00:00

In [ ]:
mta_2017_df = pd.read_csv('../mta_data/year2017.csv')
mta_2017_df.head()